.header{
    grid-area: header;
    display: flex;
    justify-content: space-evenly;

    img{
        width: 30px;
        height: 30px;
    }

    input{
        width: 400px;
        height: 30px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px gray;
        border: none;
    }

    button{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        box-shadow: 5px 5px 10px gray;
    }

    .grey-btn{
        background-color:lightgray ;
    }

    .pink-btn{
        background-color:#f7d3d4;
        color: white;
    }
}



