.header{
    grid-area: header;
    .buttons{
        grid-area: header;
    }
    input{
        grid-area: header;
    }
    img{
        grid-area: header;
    }
}


.header {
    img


}

.header img {
    
}

